<h1>Listing drives</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @drives.each do |drife| %>
      <tr>
        <td><%= drife.name %></td>
        <td><%= link_to 'Show', drife %></td>
        <td><%= link_to 'Edit', edit_drife_path(drife) %></td>
        <td><%= link_to 'Destroy', drife, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Drive', new_drife_path %>
