<h1>Listing importance_levels</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @importance_levels.each do |importance_level| %>
      <tr>
        <td><%= importance_level.name %></td>
        <td><%= link_to 'Show', importance_level %></td>
        <td><%= link_to 'Edit', edit_importance_level_path(importance_level) %></td>
        <td><%= link_to 'Destroy', importance_level, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Importance level', new_importance_level_path %>
