<h1>Listing dataset_scopes</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @dataset_scopes.each do |dataset_scope| %>
      <tr>
        <td><%= dataset_scope.name %></td>
        <td><%= link_to 'Show', dataset_scope %></td>
        <td><%= link_to 'Edit', edit_dataset_scope_path(dataset_scope) %></td>
        <td><%= link_to 'Destroy', dataset_scope, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Dataset scope', new_dataset_scope_path %>
