<h1>Listing dataset_formats</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @dataset_formats.each do |dataset_format| %>
      <tr>
        <td><%= dataset_format.name %></td>
        <td><%= link_to 'Show', dataset_format %></td>
        <td><%= link_to 'Edit', edit_dataset_format_path(dataset_format) %></td>
        <td><%= link_to 'Destroy', dataset_format, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Dataset format', new_dataset_format_path %>
